<div class="row">
  <div class="col-md-5">
    <!-- listen for the onSelectedDocument method from cms-document-list that will be triggered by the click event -->
    <!-- once onSelectedDocument is called assign $event to selectedDocument which is a local variable in DocumentsComponent class -->
    <cms-document-list (selectedDocumentEvent)="selectedDocument = $event"></cms-document-list>
  </div>

  <div class="col-md-4">
    <!-- assing the value of selectedDocument from the  DocumentsComponent class to the document property of DocumentDetailComponent class -->
    <!-- display this html element only if there is selectedDocument -->
    <cms-document-detail [document]="selectedDocument" *ngIf="selectedDocument"></cms-document-detail>
  </div>
</div>
