<div class="row details">
  <div class="panel panel-default">
    <div class="col-xs-12 panel-heading">
      <div class="col-xs-6">
        <h2 class="heading">Rex Barzee</h2>
        <img class="img-responsive" alt="Rex Barzee" src="../../assets/images/barzeer.jpg">
      </div>

      <div class="col-xs-6 buttons">
        <button class="btn btn-primary">Edit</button>
        <button class="btn btn-danger">Delete</button>
      </div>
    </div>

    <div class="panel-body">
      <div class="row">
        <div class="col-xs-12 margin-top">
          <p><strong>Email:</strong></p>
          <p><strong>Phone:</strong></p>
        </div>
      </div>
    </div>
  </div>
</div>
